version: '3.8'

services:
  apirestprestamoedu:
    build: apirestprestamoedu
    mem_limit: 512m
    ports:
      - "8080:8080"
    environment:
      URL_BASE_MYSQL: mysql://autorack.proxy.rlwy.net:37508/railway
      USER_MYSQL: root
      PASS_MYSQL: vDhBUClOnaHBhrSfPoWbkthClZjGpIyT
    restart: always
    depends_on:
      innovaschool:
        condition: service_healthy

  innovaschool:
    build:
      context: ./mysql
    volumes:
      - ./mysql/init.sql:/docker-entrypoint-initdb.d/init.sql
    ports:
      - "3307:3306"
    environment:
      MYSQL_ROOT_PASSWORD: mysql
      MYSQL_PASSWORD: mysql
      MYSQL_DATABASE: bdinnovaschool
    restart: always
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      timeout: 20s
      retries: 10

  angularapp:
    build: ./LISTADOSANGULAR/listadosdb
    ports:
      - "4200:4000"  # Mapea el puerto 4200 del contenedor al puerto 4000 del host
    restart: always
    

#spring.datasource.url=jdbc:mysql://localhost:3306/bdinnovaschool?createDatabaseIfNotExist=true
#spring.datasource.username=root
#spring.datasource.password=ibanez-1r