<div class="d-flex flex-column">
    <div id="content" class="mt4">
        
            <div class="form-group">
                <label for="Solicitud_IdSolicitud">ID Solicitud</label>
                <input type="text" class="form-control"  [(ngModel)]="prestamo.solicitud.idSolicitud" name="idSolicitud" readonly>
            </div>
            <div class="form-group">
                <label for="Alumno_Usuario_CodUsuario">Código Alumno</label>
                <input type="text" class="form-control"  [(ngModel)]="prestamo.solicitud.alumno.usuarioCodUsuario" name="usuarioCodUsuario" readonly>
            </div>
            <div class="form-group">
                <label for="Material_CodMaterial">Código Material</label>
                <input type="text" class="form-control"  [(ngModel)]="prestamo.solicitud.material.codMaterial" name="codMaterial" readonly>
            </div>
            <div class="form-group">
                <label for="FechaPrestamo">Fecha de Préstamo</label>
                <input type="datetime-local" class="form-control"  [(ngModel)]="prestamo.fechaPrestamo" name="fechaPrestamo" readonly>
            </div>
            <div class="form-group">
                <label for="FechaDevolucion">Fecha de Devolución</label>
                <input type="date" class="form-control"  [value]="aumentarDias(prestamo.fechaPrestamo ,7)" name="FechaDevolucion" readonly>
            </div>
                <div class="form-group">
                <label for="MaterialesEscanear">Materiales a escanear</label>
                <input type="number" class="form-control"  [(ngModel)]="prestamo.solicitud.material.nombre" name="nombre" readonly>
            </div>
                             
    </div>
</div>