<div class="container-fluid p-4 g-8">
    <div class="content ">
        <div class="form-row ">
            <div class="form-group col-md-6">
                <label>Categoría</label>
                <select class="form-control" [(ngModel)]="categoria" (change)="filtrarMateriales()">
                    <option value="TODOS">TODOS</option>
                    <option value="libros">Libros</option>
                    <option value="revistas">revistas</option>
                    <option value="instrumentos">Instrumentos</option>
                    <option value="otros">otros</option>
                </select>
            </div>
            <div class="form-group col-md-6">
                <label for="buscar">Buscar</label>
                <div class="input-group">
                    <input type="text" [(ngModel)]="searchMaterial" class="form-control" placeholder="Buscar..."
                        (input)="filtrarMateriales()">
                    <div class="input-group-append mx-4">
                        <button class="btn btn-warning" (click)="create()"
                            [disabled]="materialsSelected.length===0? true: false">Soliciftar</button>
                    </div>
                </div>
            </div>
        </div>



        <div class="content-wrapper" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="1000"
            (scrolled)="scrolledInfinite()">
            @for (material of materiales; track $index)
            {
            <div class="card shadow-lg row">
                <div class="col-md-9">
                    <ul>

                        <li>{{material.codMaterial}}</li>
                        <li>{{material.nombre}}</li>
                        <li>{{material.descripcion}}</li>
                        <li>{{material.tipo}}</li>
                        <li>{{material.stock}}</li>
                    </ul>

                </div>
                <div class="col-md-3">
                    <button class="btn btn-primary agregar-material" (click)="seleccionarMaterial(material)">
                        {{materialIsSelected(material)? 'Eliminar': 'Agregar'}}</button>
                </div>
            </div>

            }
        </div>
    </div>
</div>