<div class="container-fluid p-4 g-8">
    <div class="content ">
        <div class="form-row ">
            <div class="form-group col-md-6">
                <label>Categoría</label>
                <select class="form-control" [(ngModel)]="categoria" (change)="filtrarMateriales()">
                    <option value="TODOS">TODOS</option>
                    <option value="libros">Libros</option>
                    <option value="revistas">revistas</option>
                    <option value="instrumentos">Instrumentos</option>
                    <option value="otros">otros</option>
                </select>
            </div>
            <div class="form-group col-md-6">
                <label for="buscar">Buscar</label>
                <div class="input-group">
                    <input type="text" [(ngModel)]="searchMaterial" class="form-control" placeholder="Buscar..."
                        (input)="filtrarMateriales()">
                    <div class="input-group-append mx-4">
                        <button class="btn btn-warning" (click)="create()"
                            [disabled]="materialsSelected.length===0? true: false">Solicitar</button>
                    </div>
                </div>
            </div>
        </div>



        <div class="content p-4" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="1000"
            (scrolled)="scrolledInfinite()">
            <div class="row">
            @for (material of materiales; track $index)
            {
                <div class="col-md-6 mb-4">

                    <div class="card shadow-lg bg-{{materialIsSelected(material)?'info':''}} p-2 " (click)="seleccionarMaterial(material)">
                            <div class="material-details ">
                                <ul class="material-list">
                                    <li>
                                        <strong><label class="label">Código Material : </label></strong>
                                        <span>{{"  "+material.codMaterial}}</span>
                                    </li>
                                    <li>
                                        <strong><label class="label">Nombre : </label></strong>
                                        <span>{{"  "+material.nombre}}</span>
                                    </li>
                                    <li>
                                        <strong><label class="label">Descripción : </label></strong>
                                        <span>{{"  "+material.descripcion}}</span>
                                    </li>
                                    <li>
                                        <strong><label class="label">Tipo : </label></strong>
                                        <span>{{"  "+material.tipo}}</span>
                                    </li>
                                    <li>
                                        <strong><label class="label">Stock : </label></strong>
                                        <span>{{"  "+material.stock}}</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    
                }
            </div>
        </div>
    </div>
</div>