<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thumeleaf.org">

<head th:replace="~{layout/layout :: head}">
<body id="page-top">
	<header th:replace="~{layout/layout :: header}"></header>
	<div class="cotainer-fluid p-4 g-8">
		<div class="content mx-5">
			<div class="card shadow mx-5 w-auto">
				<div class="card-header">
					<div>
						<h5 class="text-primary">
							MATERIALES <a class="btn btn-success" data-bs-toggle="modal"
								data-bs-target="#save" th:data-id="${0}"> <i
								class="fa-solid fa-folder-plus"></i>
							</a>
					</div>
				</div>
				<div class="card-body">
					<div class="table-responsive text-center">
						<table class="table table-sm table-bordered ">
							<thead class="bg-dark text-light">
								<tr>
									<th>ID</th>
									<th>NOMBRE</th>
									<th>STOCK</th>
									<th>TIPO</th>
									<th>ACCIONES</th>
								</tr>
							</thead>
							<tbody th:each="material : ${materiales}">
								<tr>
									<td th:text="${material.codMaterial}"></td>
									<td th:text="${material.nombre}"></td>
									<td th:text="${material.stock}"></td>
									<td th:text="${material.tipo}"></td>
									<td><a class="btn btn-warning" data-bs-toggle="modal"
										data-bs-target="#save" th:data-id="${material.codMaterial}"><i
											class="fa-solid fa-pen-clip"></i></a></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		<div>
		
		 <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

			<div th:replace="~{layout/layout :: script}"></div>

			<!-- Logout Modal-->
			<div class="modal fade" id="save" tabindex="-1" role="dialog"
				aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog modal-lg-custom" role="document">
					<div class="modal-content" id="modalBody"></div>
				</div>
			</div>
			<script>
    $(document).ready(function() {
            $('#save').on('show.bs.modal', function(event) {
                var button = $(event.relatedTarget);
                var MaterialId = button.data('id'); 
                var modal = $(this);
                $.ajax({
                    url: '/mantenimiento/material/' + MaterialId,
                    method: 'GET',
                    success: function(data) {
                        modal.find('.modal-content').html(data);
                    },
                    error: function() {
                        modal.find('.modal-content').html('<p>Error al cargar los detalles de la venta.</p>');
                    }
                });
            });
        });
    </script>
</body>

</html>