<div class="content g-8 p-4">
    <div class="row">
        <div class="col">
            <h4>Registrar Préstamo</h4>
            <input type="text" class="form-control" [(ngModel)]="idMaterialSolicitude" (input)="registrarPrestamo()" size="4" placeholder="Ingresar codigo de material solicitado..."  >
            <input type="text" class="form-control" [(ngModel)]="idAlumno" (input)="registrarPrestamo()" size="4" placeholder="Ingresar codigo de Alumno..." >

            <table class="table table-bordered text-center">
                <thead>
                    <tr>
                        <th>Código Alumno</th>
                        <th>Código Material</th>
                        <th>Cantidad</th>
                        <th>Estado</th>
                    </tr>
                </thead>
                <tbody>
                    @for (solicitud of solicitudes; track $index)
                    {
                        <tr>                    
                            <td>{{solicitud.alumno.usuarioCodUsuario}}</td>
                            <td>{{solicitud.material.codMaterial}}</td>
                            <td>{{solicitud.material.nombre}}</td>
                            <td>{{solicitud.estado}}</td>                            
                        </tr>
                    }
                </tbody>
            </table>

        </div>
        <div class="col" *ngIf="prestamoRegistered.solicitud.idSolicitud">
            <app-form-prestamo [prestamo]="prestamoRegistered"></app-form-prestamo>
        </div>
    </div>
</div>
